<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_auction_root"
              name="Auction"
              sequence="1"/>

    <menuitem id="menu_liveboard"
              name="Liveboard"
              parent="menu_auction_root"
              action="action_new_auction_live"
              sequence="2"/>

    <menuitem id="menu_property"
              name="Properties"
              parent="menu_auction_root"
              action="action_new_property"/>

    <menuitem id="menu_new_auction"
              name="Auction"
              parent="menu_auction_root"
              sequence="3"/>

    <menuitem id="menu_active_auction"
              name="Confirmed Auction"
              parent="menu_new_auction"
              action="action_new_auction"
              sequence="3"/>
    
    <menuitem id="menu_completed_auction"
              name="Completed Auction"
              parent="menu_new_auction"
              sequence="4"
              action="action_new_auction_completed_auction"/>

    <menuitem id="menu_bid_logs"
              name="Bid Logs"
              parent="menu_new_auction"
              sequence="5"
              action="action_bid_logs"/>


    <menuitem id="menu_auction_users"
              name="Auction Users"
              parent="menu_new_auction"
              sequence="6"
              action="action_auction_users"/>

    <menuitem id="menu_auction_emd"
              name="EMD"
              parent="menu_new_auction"
              sequence="7"
              action="action_auction_emd"/>

    <menuitem id="menu_configuration"
              name="Configuration"
              parent="menu_auction_root"
              sequence="100"/>

    <menuitem id="menu_asset_category"
              name="Asset Category"
              parent="menu_configuration"
              action="action_asset_category"/>




<!--    <menuitem id="menu_bid_rules"-->
<!--              name="Bid rules"-->
<!--              parent="menu_configuration"-->
<!--              action="action_bid_rules"/>-->


    


</odoo>